h2 {
	text-align: center;
	padding: 14px;
	background-color:#6366f1;
	color: #ffffff;
    font-size: 30px;
    width: 100%;
    font-weight: 700;
}
.calculator{
    text-align: center;
    margin: 50px 0;
}
.calculator input{
    background-color: #1f2937;
    color: #ffffff;
    border: 3px solid #d1d5db;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.calculator input:hover{
    background-color: #111111;
    
}
.calculator input.inputs{
    width: 200px;
    cursor: default;
}
.calculator input.clear, .calculator input.delete{
    color: red;
}
.calculator input.ans {
    width: 200px;
    background: #6366f1;
    text-align: right;
    cursor: default;
}
